{% extends 'mascotas/base.html' %}

{% block title %}Mi Perfil - {{ user.username }}{% endblock %}

{% block content %}
    <h1>Perfil de {{ user.username }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-4 text-center">
            {% if perfil.avatar %}
                <img src="{{ perfil.avatar.url }}" alt="Avatar de {{ user.username }}" class="img-fluid avatar-img mb-3">
            {% else %}
                <p><em>(Sin avatar)</em></p>
            {% endif %}
             <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
        </div>
        <div class="col-md-8">
            <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Nombre:</strong> {{ user.first_name|default:"-" }}</p>
            <p><strong>Apellido:</strong> {{ user.last_name|default:"-" }}</p>
            <hr>
            <p><strong>Biografía:</strong></p>
            <p>{{ perfil.biografia|default:"No has añadido una biografía todavía."|linebreaksbr }}</p>
        </div>
    </div>


{% endblock %} 